

.diaryFooter {
    height: 10%;
    background-color: rgb(255, 255, 255, 0.85);
    border-radius: 12px; 
    border: 2px solid black;
    display: flex;
    align-items: center;
    margin: 7px;
    padding: 7px;
    bottom: 7px;
    position: sticky;
}

.diaryTypeButton {
    font-size: 15px; 
    background-color: turquoise;
    border-radius: 12px; 
    border: 2px solid black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
}
  
.diaryTypeButton:hover {
    font-size: 15px; 
    background-color: darkturquoise;
    border-radius: 12px; 
    border: 2px solid black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
}
  
.diaryTypeButton:active {
    font-size: 15px; 
    background-color: rgb(64, 240, 243);
    border-radius: 12px; 
    border: 2px solid black;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 15px;
}