#logos {
    background-color: rgb(255, 255, 255, 0.85);
    border-radius: 12px; 
    border: 2px solid black;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}

#welcomeSite {
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 12px;
}

#demosText {
    font-size: 25px; 
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 12px; 
    border: 2px solid black;
}

#miniGamesText {
    font-size: 25px; 
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 12px; 
    border: 2px solid black;
}

.siteicon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
    margin: 0px;
}

.company {
    font-size: 45px;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
}
  
.diaryGo {
    font-size: 15px; 
    background-color: turquoise;
    border-radius: 12px; 
    border: 2px solid black;
    padding: 10px;
}
  
.diaryGo:hover {
    font-size: 15px; 
    background-color: darkturquoise;
    border-radius: 12px; 
    border: 2px solid black;
    padding: 10px;
}
  
.diaryGo:active {
    font-size: 15px; 
    background-color: rgb(64, 240, 243);
    border-radius: 12px; 
    border: 2px solid black;
    padding: 10px;
}