#logos {
    background-color: rgb(255, 255, 255, 0.85);
    border-radius: 12px; 
    border: 2px solid black;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
}

#welcomeSite {
    background-color: rgb(255, 255, 255, 0.4);
    border-radius: 12px;
}

#demosText {
    font-size: 25px; 
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 12px; 
    border: 2px solid black;
}

#miniGamesText {
    font-size: 25px; 
    background-color: rgb(255, 255, 255, 0.8);
    border-radius: 12px; 
    border: 2px solid black;
}

.siteicon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
}

.company {
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    font-weight: 700;
}
  
